.content {
    background-color: #C6F8FF;
    flex: 3 4 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-item {
    color: #00B8E8;
    background-color: #C6F8FF;
    margin: 5px 15px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.content-item:hover {
    background: green;
}