.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: rgb(142, 111, 216); */

    ;
    /* background: radial-gradient(circle, #9c5cff, #270d21cc), url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2019_09/2769481/190228-headphones-music-se-152p.jpg); */

    background-repeat: no-repeat;
    background-size: 100%;
}

.graphy {
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        color: rgb(110, 26, 150);
    }

    to {
        color: rgba(152, 11, 196, 0.884);
    }
}

.login {
    display: inline;
    position: absolute;
    /* height: 100%; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    top: 25%;
}

.pic {
    width: 90px;
    margin-right: 30px;
}

.pic2 {
    color: aliceblue;
}

.pic3 {
    color: aliceblue;
    margin-left: 30px;
}

.header {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

.logo {
    width: 70px;
    text-align: center;
    margin-left: 25px;
}

button {
    display: flex;
    color: #1DB954;
    background: black;
    /* background: linear-gradient(to bottom left, #8b4fe4, #b60c8ecc); */
    font-size: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3px 5px;
    border: solid 3px#1DB954;
    border-radius: 70px;
    /* border: none; */

    transition: all 0.1s ease-out;
}

button:hover {
    /* background: radial-gradient(circle, #9c5cff, #da0faacc); */
    /* background: linear-gradient(to bottom left, #9359e9, #bb1895cc); */
    /* background-color: #b45add; */
    background: black;
    /* border-color: #9a3dd8cc; */
    transform: scale(1.02);
    cursor: pointer;
}

button:hover .word {}

button:active {
    /* background: linear-gradient(to bottom left, #7644c2, #960c75cc); */
    background: black;
    transform: scale(1);
}

button:active .word {}

button:active .logo {}

.word {
    padding: 0px 30px;
    /* margin: 10px; */
    font-size: 30px;
    justify-content: center;
}