.privacyContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: rgb(142, 111, 216); */

    /* background-repeat: no-repeat; */
    background-size: 100%;
}