.privacyContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: rgb(142, 111, 216); */
    background: linear-gradient(to top, #270d21cc, #9c5cff), url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2019_09/2769481/190228-headphones-music-se-152p.jpg);

    /* background-repeat: no-repeat; */
    background-size: 100%;
}